.about-us-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us{
    background-color: rgb(105, 105, 105);
    width: 75%;
    margin: 0 auto;
    height: calc(100vh - 66px);
}