.product-container {
    background-color: rgb(105, 105, 105);
    width: 75%;
    margin: 10px auto;
    border-radius: 6px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 20px 0px;
}

.card-products {
    width: 18rem;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.product{
    text-align: center;
}

.details-link {
    text-decoration: none;
    color: #fff;
    transition: all 200ms;
    background-color: rgb(160, 160, 160);
    border-radius: 20px;
    padding: 10px;
}

.details-link:hover{
    color: #f1f1f1;
    background-color: Gray;
}